/* @@author justinpoh */
.background {
    -fx-background-color: #f2f8ff;
    background-color: #f2f8ff; /* Used in the default.html file */
}
/* @@author */

.label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: derive(#383838, +30%);
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

/* @@author justinpoh */
.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #f2f8ff;
    -fx-border-color: #f2f8ff;
}

.split-pane {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: #f2f8ff;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #f2f8ff;
    -fx-border-width: 5;
    -fx-border-radius: 18 18 18 18;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-padding: 10px;
    -fx-background-insets: 10px, 10px;
    -fx-background-color: transparent, -fx-background;
}

.list-cell:filled {
    -fx-background-color: derive(#d6e5ff, +15%);
}

.list-cell:filled:selected {
    -fx-background-color: derive(#d6e5ff, +40%);
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: derive(#d6e5ff, -10%);
    -fx-border-width: 5;
    -fx-border-radius: 18 18 18 18;
}

.list-cell:filled:selected #popularContactPane {
    -fx-border-color: derive(#d6e5ff, -10%);
    -fx-border-width: 2;
    -fx-border-radius: 18 18 18 18;
}

.list-cell .label {
    -fx-text-fill: derive(#383838, -40%);
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #f2f8ff;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: white;
}

.anchor-pane {
     -fx-background-color: #f2f8ff;
}

.pane-with-border {
     -fx-background-color: #f2f8ff;
     -fx-border-color: #f2f8ff;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #f2f8ff;
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: #f2f8ff;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: derive(#383838, +30%);
}
/* @@author */

.result-display .label {
    -fx-text-fill: black !important;
}

/*
 * Dark scrollbar skin
 * Author: Farrukh Obaid
 * https://farrukhobaid.wordpress.com/2013/01/16/dark-scrollbar-skin-for-javafx/
 * Altered the coloring to a lighter color
 */
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: derive(#383838, +30%);
    -fx-background-insets: 2 2 2 2;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: #f2f8ff;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button,
.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button {
    -fx-padding: 3px;
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-background-color: grey;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.30em;
    -fx-rotate: 0;
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-background-color: grey;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.30em;
    -fx-rotate: -90;
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-background-color: grey;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.30em;
    -fx-rotate: -180;
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-background-color: grey;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.30em;
    -fx-rotate: 90;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: derive(#383838, +30%);
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

/* @@author justinpoh */
.grid-pane {
    -fx-background-color: #f2f8ff;
    -fx-border-color: #f2f8ff;
    -fx-border-width: 0px;
}

.grid-pane .anchor-pane {
    -fx-background-color: #f2f8ff;
}
/* @@author */

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

/* @@author justinpoh */
.menu-bar {
    -fx-background-color: #f2f8ff;
}
/* @@author */

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: derive(#383838, +30%);
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #f2f8ff;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: #f2f8ff, #f2f8ff;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: derive(#383838, +30%);
    -fx-border-insets: 0;
    -fx-border-width: 2;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: derive(#383838, +30%);
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay {
    -fx-border-color : derive(#383838, +30%);
}

/* @@author justinpoh */
#resultDisplay .content {
    -fx-background-color: #f2f8ff;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 18 18 18 18;
    -fx-background-radius: 18 18 18 18;
    -fx-font-size: 16;
}

#birthdayListHolder {
    -fx-background-color: #f2f8ff;
}

#birthdayListHolder > .label {
    -fx-background-color: #f2f8ff;
}

#reminderListHolder {
    -fx-background-color: #f2f8ff;
}

#reminderListHolder > .label {
    -fx-background-color: #f2f8ff;
}

#placeHolder {
    -fx-border-color: derive(#383838, +30%);
    -fx-border-width: 2;
}

.error {
    -fx-text-fill: derive(#dc143c, 0%) !important; /* The error class should always override the default text-fill style */
}
/* @@author */

/* @@author tshradheya */
.details_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 30px;
    -fx-font-weight: 100;
    -fx-text-fill: gray;
}

.details_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-font-weight: 100;
    -fx-text-fill: gray;
}

.details_medium_label {
    -fx-font-family: "cursive";
    -fx-font-size: 20px;
    -fx-font-weight: 100;
    -fx-text-fill: gray;
}

#detailsTag {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#detailsTag .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 18 18 18 18;
    -fx-background-radius: 18 18 18 18;
    -fx-font-size: 16;
}

